[Desktop Entry]
Type=Application

Name=Displays Settings
Name[pl]=Ustawienia wyświetlaczy

GenericName=Output configuration utility
GenericName[pl]=Ustawienia wyświetlaczy

Comment=nwg-shell tool to configure outputs
Comment[pl]=Narzędzie nwg-shell do konfiguracji monitorów

Exec=nwg-displays
Icon=nwg-displays
Terminal=false
Categories=Settings;DesktopSettings;
